/* Resetting styles */
* {
    border: 1px solid red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Shared CSS styles */
.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
}

.para-describe {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 18px;
    text-align: center;
}

.h2-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

/* header styles */
#main-header {
    position: relative;
    height: 70vh;
    background: rgba(229, 84, 115, 0.10);
    padding: 50px 240px;
    border: 1px solid red;
    background-image: url(../images/bg-img/pngwing\ 10.png);
    background-repeat: no-repeat;
    background-position: right 100px bottom 0;
    background-size: contain;
}

.h1-heading {
    margin-bottom: 12px;
}

.main-header-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    border: 1px solid red;
    left: 100px;
}

/* Featured flower container Styles */
.flower {
    text-align: center;
    width: 100%;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.flower-1 {
    background-image: url("../images/rectangle-img/Rectangle\ 4.png")
}

.flower-2 {
    background-image: url("../images/rectangle-img/Rectangle\ 5.png")
}

.flower-3 {
    background-image: url("../images/rectangle-img/Rectangle\ 6.png")
}

.flo-container-sub-heading {
    color: #272727;
    text-align: center;
    line-height: 35px;
    text-decoration-line: underline;

}

.flo-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    width: 30%;
}

.flower-container {
    display: flex;
    justify-content: space-evenly;

}

/* flower delivery section styles */
.flower-delivery {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 40px auto;
}

.delivery-container {
    text-align: center;
}

/* hot heal container styles */

.hot-deal-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: rgba(229, 84, 115, 0.05);
}

.hot-deal-left-part {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hot-deal-right-part,
.hot-deal-left-part {
    width: 40%;
}

.hot-deal-right-part img {
    display: block;
    width: 180px;
    height: 260x;
    margin: 0 auto;
}

/* Instagram part desinging */

.insta-container {
    text-align: center;
}

.insta-container>img {
    display: inline-block;
    width: 20%;
    height: 20%;
    margin: 0 15px;
}

/* Deals container styeling  */
.email-field-container {
    background-image: url("../images/rectangle-img/Rectangle\ 9.png");
    background-size: 100% 100%;
    width: 89%;
    height: 40vh;
}

#email-input {
    border-radius: 8px;
    background: #FFF;
    width: 55%;
    padding: 20px;

}

.email-field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.email-field-container form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

/* footer section design */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #111010;
    width: 100%;
    height: 30vh;
}

.footer-h1 {
    color: white;
}

.footer-red {
    color: red;
}

.para-footer {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
}

.copyright-para {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}